<div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    <h2>Error :(</h2>
    <p>{{error}}</p>
  </div>
  <div *ngIf="companies">
  <mat-card class="example-card"  *ngFor="let company of companies">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" style="background-image: url('{{generateURL(company.logo.url.path)}}');
      background-size: cover;"></div>
      <mat-card-title>{{ company.title |titlecase }}</mat-card-title>
      <mat-card-subtitle>{{ company.industry.name.name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{generateURL(company.thumbnail.url.path)}} alt="Company Photo">
    <mat-card-content innerHTML="{{company.description.value}}">
    </mat-card-content>
    <mat-card-footer class="terminal">
      <a routerLink="/company" [state]="{ data: company}">Update...</a>
    </mat-card-footer>
  </mat-card>
</div>

